*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  text-size-adjust: 100%;
  line-height: 1.4;
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #2c2d2f;
  overflow-x: hidden;
  color: #fff;
  display: flexbox;
}

svg,
img {
  max-width: 100%;
  display: block;
  height: auto;
}

.sidebar {
  width: 80px;
  height: 100vh;
  background-color: #1e1f22;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  z-index: 999;
  margin-right: 5%;
}

.sidebar h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #dcdcdc;
  text-align: center;
}

.sidebar .underline {
  display: block;
  width: 40px;
  height: 2px;
  border-radius: 100px;
  margin: auto;
  background-color: #34363b;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.sidebar ul li {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.sidebar ul li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease, border-radius 0.2s ease;
}

.sidebar ul li a .badge {
  position: absolute;
  bottom: 0;
  right: 0.25rem;
  background-color: #f23f42;
  padding: 0.2rem 0.4rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 100px;
  border: 3px solid #1e1f22;
}

.sidebar ul li a:not(.logo) {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #313338;
}

.sidebar ul li .logo {
  gap: 1rem;
}

.sidebar ul li .logo::before {
  position: absolute;
  content: "";
  left: -1rem;
  top: 10px;
  height: 40px;
  width: 4px;
  border-radius: 0 1rem 1rem 0;
  background-color: #fff;
}

.sidebar ul li a:not(.logo)::before {
  position: absolute;
  content: "";
  left: -1rem;
  top: 18px;
  height: 15px;
  width: 4px;
  border-radius: 0 1rem 1rem 0;
  background-color: #fff;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.sidebar ul li a:not(.logo):hover::before {
  transform: scaleY(200%);
  border-radius: 0 0.2rem 0.2rem 0;
  opacity: 1;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 150%;
  font-size: 1.6rem;
  color: #fff;
  background-color: #313338;
  padding: 1.3rem 1rem;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.sidebar ul li:first-of-type .tooltip {
  top: 5px;
}

.sidebar ul li .tooltip::before {
  position: absolute;
  content: "";
  left: -1.3rem;
  top: 50%;
  transform: translateY(-50%);
  border-width: 0.75rem;
  border-style: solid;
  border-color: transparent #313338 transparent transparent;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.sidebar ul li .btn:hover,
.sidebar ul li .link:hover {
  border-radius: 1rem;
  background-color: #23a559;
}

.sidebar ul li .channel {
  background-color: #b432ff !important;
}

.sidebar a:not(.logo, .channel):hover svg circle {
  fill: #fff;
}

.sidebar a:not(.logo, .channel):hover svg .inner-circle {
  fill: #23a559;
}

.sidebar a:not(.logo, .channel):hover svg .icon-plus {
  fill: #fff;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
  visibility: visible;
}


.menu {
  width: 100%;
  height: 100vh;
  background-color: #2c2d2f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  height: 50%;
}

.groupImageBox {
  width: 80px;
  height: 80px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50px;
}

.groupImageBox img {
  border-radius: 50px;
}

.menu div input {
  padding: 10px 0px;

  background: #1e1f22;
  border: 1px solid #2b2d31;
  border-radius: 6px;

  color: #f2f3f5;
  font-size: 14px;

  transition: border-color .15s, box-shadow .15s, background .15s;

}

.menu div input {
  outline: none;
  border-color: #5865f2;
  box-shadow: 0 0 0 2px rgba(88, 101, 242, 0.25);
  background: #1a1b1e;
  margin-bottom: 10px;
}

.menu div input:placeholder {
  color: #87898c;
}


.menu div input:hover {
  background: #232428;
}

.groupImageBox {
  margin-bottom: 20px;
  margin-left: 35%;
  cursor: pointer;
}

.createGroupButton {
  padding: 10px;
  cursor: pointer;
  background-color: #23a559;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .2px;

  border: none;
  border-radius: 6px;
  transition: background .15s, transform .15s, box-shadow .15s;
}

.createGroupButton:hover {
  background: #139d4c;
}

.createGroupButton:active {
  transform: scale(0.97);
}


.addGroupButton {
  margin-bottom: 20px;
  padding: 17px;
  cursor: pointer;
  border-radius: 5px;
  color: #23a559;
  background-color: #34363b;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  background-color: #23a559;
  color: white;
  /* border: 1px solid rgb(33, 31, 31); */
}

.searchGroupButton {

  padding: 17px;
  cursor: pointer;
  border-radius: 5px;
  color: #23a559;
  background-color: #34363b;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  background-color: #23a559;
  color: white;
  /* border: 1px solid rgb(33, 31, 31); */
}

.searchGroupButton2 {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #23a559;
  background-color: #34363b;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  background-color: #23a559;
  color: white;
  /* border: 1px solid rgb(33, 31, 31); */
}

.addGroupButton:hover {
  background-color: #139d4c;
  color: white;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.searchGroupButton:hover {
  background-color: #129749;
  color: white;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.menu h1 {
  font-size: 5rem;
  margin-bottom: 50px;
}

.groupiconinternal {
  border: 4px solid rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.groupiconexternal {
  border: 3px solid #10a950;
  ;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.groupImg {
  border-radius: 7px;
}

.pfp {
  width: 270px;
  height: 270px;
  border-radius: 10px;
  /* border: 3px solid #129749; */
}

.nothing {
  margin-top: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  margin-left: 5px;
  color: #6dc08f;
}

.mini {
  width: 270px;
}

.messegeinput {
  /* outline: none; */
  /* убирает голубое свечение */
  /* border: none; */
  /*  
  box-shadow: none;
 
  background: none;
 
  border-radius: 0;
 
  appearance: none;
 
  -webkit-appearance: none;
  
  -moz-appearance: none; */


  width: 90%;
  outline: none;
  border: 1px solid #5865f2;
  /* box-shadow: 0 0 0 2px rgba(88, 101, 242, 0.25); */
  background: #1a1b1e;

  padding: 19px;


  border-radius: 8px;

  color: #f2f3f5;
  font-size: 14px;
  border-radius: 15px;
  transition: border-color .15s, box-shadow .15s, background .15s;
}


.messegeinput:placeholder {
  color: #87898c;
}


.messegeinput:hover {
  background: #232428;
}

.contofmes {
  width: 60%;
  height: 150px;
  position: absolute;
  top: 82%;
}

.contofmes button {
  margin-left: 8px;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #34363b;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  background-color: #23a559;
  color: white;
  cursor: pointer;
}


.messegebody {
  background-color: white;
  padding: 6px;
  border-radius: 12px;
  margin-top: 5px;
  width: 5%;
  display: inline-block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}

.messegebody p {
  color: black;
  font-size: 16px
}

.fullmessegebody {
  margin-left: 70%;
  display: flex;
}

.messegebox {
  width: 100%;
  height: 60vh;

}


.useravaterinmessege {
  margin-top: 2%;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 18px;
  border: 2px solid white;
  cursor: pointer;
}

.header {
  background-color: rgb(37, 154, 90);
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0%;
  display: flex;
}


.callButton {
  width: 20px;
  height: 20px;
  /* background-color: #1a1b1e; */
  margin-left: 58%;
  background: none;
  border: none;
  margin-top: 8px;
  cursor: pointer;

}

.lasurt{
  width: 20px;
  height: 20px;
  color: white; 
}

.groupmg {
  margin-top: 2px;
  border-radius: 11px;
  border: 2px solid white;
  width: 35px;
  height: 35px;
  margin-left: 15%;
  cursor: pointer;
}

.groupname {
  font-size: 14px;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 6px;
}